@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font: "Inter", sans-serif;
  --fontStyle: normal;
  --inFont: 12px;

  --codeOne: #ffffff;
  --codeTwo: #ebebeb;
  --codeThree: #878787;
  --codeFour: #000000;
  --codeFive: #3084d1;

  --trans: all 0.4s ease-in-out;
  --brOne: 3px;
  --brTwo: 10px;
  --brThree: 25px;

  --border: 1px solid var(--codeTwo);
}

* {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  font-family: var(--font);
  font-size: var(--inFont);
  font-style: var(--fontStyle);
  text-transform: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
}

body {
  background: var(--codeOne);
}

a {
  cursor: pointer;
  color: var(--codeFour);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--codeFour);
}

select,
textarea,
input {
  padding: 10px;
  border-radius: var(--brOne);
  width: 100%;
  border: 1px solid var(--codeFour);
  color: var(--codeFour);
  background: transparent;
}

input:disabled {
  background-color: var(--codeTwo);
  color: var(--codeThree);
}

select,
textarea,
input::placeholder {
  color: var(--codeThree);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type="checkbox"] {
  appearance: none;
  /* For modern browsers */
  -webkit-appearance: none;
  /* For Safari */
  -moz-appearance: none;
  /* For Firefox */
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: black;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  color: white;
  font-size: 14px;
  position: absolute;
  left: 3.5px;
  top: 0px;
}

select::-webkit-scrollbar {
  width: 15px;
}

select::-webkit-scrollbar-thumb {
  background-color: var(--codeThree);
  border-radius: var(--brTwo);
}

button {
  width: fit-content;
  cursor: pointer;
  transition: var(--trans);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--brOne);
  background: var(--codeFive);
  color: var(--codeOne);
  border: 1px solid var(--codeFive);
  padding: 8px 30px;
}

select,
textarea,
input,
button:focus {
  outline: none;
}



/* ////////////// General styling ////////////// */

.wh {
  width: 100%;
}

.relative {
  position: relative;
}

/* gaps */

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.g20 {
  gap: 20px;
}

/* flex */

.flex {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.start {
  align-items: start;
  justify-content: start;
}

.end {
  align-items: end;
  justify-content: end;
}

.center-start {
  align-items: center;
  justify-content: start;
}

.start-center {
  align-items: start;
  justify-content: center;
}

.end-start {
  align-items: end;
  justify-content: start;
}

.start-end {
  align-items: start;
  justify-content: end;
}

.center-end {
  align-items: center;
  justify-content: end;
}

.end-center {
  align-items: end;
  justify-content: center;
}

.center-space {
  align-items: center;
  justify-content: space-between;
}

/* outlines */

.outline1 {
  outline: 1px solid blue;
}

.outline2 {
  outline: 1px solid limegreen;
}

.outline3 {
  outline: 1px solid orange;
}

/* fonts */
.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.heading {
  font-size: 26px;
  font-weight: 600;
}

.headingSmol {
  font-size: 18px;
  font-weight: 600;
}

.textBig {
  font-size: 14px;
  font-weight: 500;
  transition: var(--trans);
}

.text {
  font-size: 12px;
  font-weight: 400;
}

.textSmol {
  font-size: 10px;
  font-weight: 400;
}

.error {
  font-size: 10px;
  font-weight: 400;
  color: red;
  width: 100%;
  padding: 0px 10px;
}

.failed {
  filter: drop-shadow(5px 5px 3px rgb(255, 166, 166));
  color: rgb(255, 0, 0);
}

.success {
  filter: drop-shadow(5px 5px 3px rgb(167, 255, 167));
  color: rgb(0, 189, 0);
}

.hover {
  color: var(--codeFive);
  opacity: 1;
  transition: var(--trans);
}

.hover:hover {
  opacity: 0.7;
}

/* login & signup & otp & forgot password & profile */

.authBox {
  width: 100%;
  max-width: 500px;
  gap: 15px;
  padding: 20px;
  border: var(--border);
  border-radius: var(--brThree);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 13px #d4d4d4, -5px -5px 13px #ffffff;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.otpBox {
  width: 50px;
}

.password span {
  position: absolute;
  right: 10px;
  top: 25%;
}

.password span .MuiSvgIcon-root {
  color: var(--codeThree);
  cursor: pointer;
}

/* profile */
.applyInput {
  border: 1px solid var(--codeFive);
  color: var(--codeFive);
}

.applyBtn {
  width: 100%;
  background-color: var(--codeOne);
  border: 1px solid var(--codeFive);
  color: var(--codeFive);
}

.applyBtn:hover {
  background-color: var(--codeFive);
  color: var(--codeOne);
}

.profile {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--brTwo);
  padding: 20px;
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.verify .MuiSvgIcon-root {
  width: 17px;
  height: 17px;
  color: #565656;
}

.addressCard {
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #f7f7f7;
  border-radius: var(--brTwo);
  transition: var(--trans);
}

.addressCard:hover {
  background-color: var(--codeTwo);
  transform: translateY(-4px);
}

.addresses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


/* popup  */
.popup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.732);
  transition: var(--trans);
  z-index: 10;
}

.popup-wrapper {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  gap: 5px;
  background: white;
  padding: 15px;
  filter: drop-shadow(7px 7px 10px rgb(48, 48, 48));
}

.popup-btn {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-btn .popup {
  opacity: 0;
  bottom: -10px;
  transition: var(--trans);
}

.popup-btn.clicked .popup {
  opacity: 1;
  bottom: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* cart page  */
.cartPriceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.cartCont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.cartDetailCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cartProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cartproCont {
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--codeOne);
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: var(--brTwo);
  transition: var(--trans);
}

.cartproCont:hover {
  transform: translateY(-4px);
}

.cartImg {
  width: 110px;
  height: 110px;
  object-fit: fill;
  border-radius: var(--brTwo);
}

.cartDetail {
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cartDetail button {
  padding: 5px 10px;
  background-color: var(--codeOne);
  color: #ff7979;
  border-radius: var(--brTwo);
  border: 1px solid #ff7979;
  transition: var(--trans);
}

.cartDetail button:hover {
  background-color: #ff7979;
  color: var(--codeOne);
}

.cartBtnsCont {
  width: 100%;
  max-width: 200px;
  min-width: 180px;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plusMinusCartCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--codeFive);
  border-top-left-radius: var(--brOne);
  border-top-right-radius: var(--brOne);
  border-bottom-left-radius: var(--brOne);
  border-bottom-right-radius: var(--brOne);
  gap: 0px;
}

.plusMinusCartCont div {
  padding: 6px 12px;
  cursor: pointer;
}

.plusMinusCartCont .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeOne);
}

.plusMinusCartCont input {
  border: 1px solid var(--codeFive);
  width: 100%;
  text-align: center;
  background-color: var(--codeOne);
  border-radius: var(--brOne);
}

.cartCalc {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 30px;
  background: var(--codeOne);
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: var(--brTwo);
}



/* Header component */
.scrollToTop {
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 3;
  transition: var(--trans);
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 3;
  transition: var(--trans);
}

.whatsapp:hover,
.scrollToTop:hover {
  transform: scale(1.1);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.catHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  background-color: var(--codeOne);
  border-top: var(--border);
  border-bottom: var(--border);
  position: sticky;
  top: -1px;
  z-index: 4;
}

.catItem {
  width: fit-content;
  min-width: 130px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: var(--trans);
}

.catItem:hover {
  background-color: var(--codeTwo);
}

.catItem:hover .textBig,
.catItem:hover .MuiSvgIcon-root {
  color: var(--codeFive);
}

.searchCont {
  position: relative;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContTwo {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchCont .MuiSvgIcon-root {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: var(--codeFive);
  transition: var(--trans);
}

.searchContTwo .MuiSvgIcon-root {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: var(--codeThree);
  transition: var(--trans);
}

.searchCont input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: var(--codeTwo);
  border-radius: var(--brThree);
  transition: var(--trans);
}

.searchContTwo input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: var(--codeTwo);
  border-radius: var(--brThree);
  transition: var(--trans);
}

.header-burger {
  display: none;
}

.header-burger .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeFive);
}

.logo {
  width: 60px;
  object-fit: contain;
  aspect-ratio: 4/3;
  cursor: pointer;
}

.nav-mobile {
  gap: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-mobile .textBig {
  color: var(--codeThree);
  cursor: pointer;
  transition: var(--trans);
  white-space: nowrap;
}

.nav-mobile .textBig:hover {
  color: var(--codeFive);
}

.nav-mobile .MuiSvgIcon-root {
  width: 25px;
  height: 25px;
  color: var(--codeThree);
  transition: var(--trans);
  cursor: pointer;
}

.nav-mobile .MuiSvgIcon-root:hover {
  color: var(--codeFive);
}

.cartIcon {
  padding: 0px 0px 0px 20px;
  position: relative;
}

.cartcount {
  position: absolute;
  top: -8px;
  right: -7px;
  background-color: var(--codeFive);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 10px;
  color: var(--codeOne);
  border-radius: 50%;
}

.hover-div {
  background-color: var(--codeOne);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1), -4px 0px 6px -2px rgba(0, 0, 0, 0.1), 4px 0px 6px -2px rgba(0, 0, 0, 0.1);
  color: var(--codeOne);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  padding: 10px 15px;
  opacity: 0;
  transform: translateY(-20px);
  transition: var(--trans);
  pointer-events: none;
  z-index: 5;
}

.hover-div.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hover-div a {
  width: 100%;
  padding: 3px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  color: var(--codeThree);
  transition: var(--trans);
}

.hover-div a:hover {
  color: var(--codeFour);
}

.hoverdivone {
  width: 100px;
  top: 28px;
  right: 0px;
  border-radius: var(--brOne);
}

.hoverdivtwo {
  width: fit-content;
  min-width: 150px;
  top: 38px;
  left: 0px;
  border-radius: 0px;
}
.hoverdivtwo a {
  font-size: 15px;
  padding: 6px 0px;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  background-color: #1e1e1e;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 6;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: var(--trans);
}

.drawer.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  opacity: 0;
  transition: var(--trans);
  visibility: hidden;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.drawer a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  font-weight: 600;
  color: var(--codeOne);
}

.drawer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}


/* footer component */
.footer {
  width: 100%;
  padding: 40px 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--codeTwo);
}

.headFooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 10px;
}
.headItem {
  flex: 1;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}
.headItem img {
  width: 80px;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.headDetails {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
}
.headDetails .text {
  width: 100%;
  text-align: left;
}

.subFooter {
  width: 100%;
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subFooter img {
  width: 100px;
  object-fit: contain;
  aspect-ratio: 4/3;
  height: auto;
}

.footerNav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.hiddeNav {
  display: none;
}

.footerNav .text,
.hiddeNav .text {
  cursor: pointer;
  transition: var(--trans);
}

.footerNav .text:hover {
  color: var(--codeFive);
}

.hiddeNav .text:hover {
  color: var(--codeFive);
}

.footerSupport {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 10px;
}

.subFooterTwo {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footerLogos {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.footerLogos img {
  width: 40px;
  height: auto;
  aspect-ratio: 4 / 2.5;
  object-fit: contain;
  filter: drop-shadow(2px 2px 2px var(--codeFour));
}

.footerline {
  width: 100%;
  height: 1px;
  background-color: var(--codeThree);
}

/* Card Carousel - product card */
.product-slider-cont {
  position: relative;
  width: 100%;
}

.show-img-detail-sup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
}

.show-img-detail-sub {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  height: 260px;
  width: 100%;
}

.product-img-size {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  z-index: 2;
}

.fade-out {
  opacity: 0;
  z-index: 1;
}

.add-to-cart-btn {
  position: absolute;
  width: 90%;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--codeOne);
  color: var(--codeFive);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: var(--trans);
  z-index: 3;
}

.add-to-cart-btn:hover {
  background-color: var(--codeFive);
  color: var(--codeOne);
}

.hide-btn {
  opacity: 0;
  transform: translate(-50%, -40%);
  pointer-events: none;
}

.show-btn {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.discount-icon {
  position: absolute;
  top: 20px;
  left: 45px;
  padding: 3px 10px;
  border-radius: 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--codeFive);
  font-size: 12px;
  color: var(--codeOne);
  font-weight: 400;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 3;
}

.product-detail-info {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.product-title {
  font-size: 14px;
}

.product-price {
  font-size: 16px;
  color: var(--codeFive);
  white-space: nowrap;
}

.product-discount {
  text-decoration: line-through;
  font-size: 13px;
  color: var(--codeThree);
  white-space: nowrap;
}

.starCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

.star .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: gold;
}

.dullStar .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeThree);
}

/* category page */
.sortCat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sortCat select {
  width: fit-content;
}

.categoryGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}


/* order */
.orderCont {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.orders {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.youMayAlso {
  width: 100%;
  max-width: 300px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ymalProducts {
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: var(--codeOne);
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: var(--brTwo);
}

/* small card */
.smallCard {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--codeTwo);
}

.smallCard img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.smallCardDetail {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.orderproCont {
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: var(--codeOne);
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: var(--brTwo);
  transition: var(--trans);
}

.orderproCont:hover {
  transform: translateY(-4px);
}

.orderview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.orderBtns .cancel {
  padding: 5px 10px;
  background-color: var(--codeOne);
  color: #ff7979;
  border: 1px solid #ff7979;
  transition: var(--trans);
}

.orderBtns .cancel:hover {
  background-color: #ff7979;
  color: var(--codeOne);
}

.orderBtns .view {
  padding: 5px 10px;
  background-color: var(--codeOne);
  color: var(--codeFive);
  border: 1px solid var(--codeFive);
  transition: var(--trans);
}

.orderBtns .view:hover {
  background-color: var(--codeFive);
  color: var(--codeOne);
}

.orderProducts {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.opItem {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  border: 1px solid var(--codeTwo);
  border-radius: var(--brOne);
}

.opItem .textSmol {
  font-size: 10px;
}

.opItem img {
  width: 100%;
  height: auto;
  object-fit: fill;
  aspect-ratio: 4/3;
}

.opDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}

/* search page */




/* static pages  */
.inputCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputCol {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.bg-gray-shadow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  padding: 30px;
  gap: 10px;
  width: 100%;
  background-color: rgba(213, 213, 213, 0.039);
}

.bg-gray-shadow p {
  color: rgb(46, 46, 46);
}

.policy-ul {
  list-style-type: disc;
  display: block;
}

.policy-ul li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
  margin-bottom: 12px;
  color: rgb(46, 46, 46);
}


/* image slider */
.slider-container {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--codeFour);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: opacity;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.slider-container:hover .arrows {
  opacity: 1;
}

.slider-container:hover .dots {
  opacity: 1;
}


/* contact us */
.contactustext {
  font-size: 14px;
  font-weight: 600;
  color: var(--codeFive);
}

.para-4 {
  font-size: 25px;
  font-weight: 600;
  font-family: var(--font);
}

.message-box-text {
  width: 100%;
  height: 150px;
}

.footer-flex-4 {
  display: flex;
  justify-content: start;
  gap: 100px;
}

.contact-us-wrapper {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 50px;
}

.icon-con-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon-con {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--trans);
  cursor: pointer;
}

.icon-con:hover {
  transform: translateY(-4px);
}

.icon-con svg {
  font-size: 20px !important;
  color: white !important;
}

.icon-con.facebook {
  background-color: #4867aa;
}

.icon-con.instagram {
  background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
}

.icon-con.x {
  background-color: black;
}

.icon-con.youtube {
  background-color: red;
}

.contact-us-input-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: 12px;
}

.contact-us-input-con form input,
.contact-us-input-con form textarea {
  border-radius: 4px !important;
  border: 1px solid rgba(128, 128, 128, 0.52);
}

/* about us page  */
.section-con {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.section-con img {
  border-radius: 9px;
  width: 100%;
  max-width: 600px;
}

.section-con h3 {
  color: var(--codeFive);
}

.call-us-con {
  display: inline-flex;
  margin-top: 30px;
  gap: 10px;
}

@-webkit-keyframes tilt-shaking {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes tilt-shaking {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.call-us-con:hover.call-us-con .icon-con {
  scale: 1.03;
  animation: tilt-shaking 0.25s infinite;
}

.call-us-con a {
  font-weight: 600;
}

.call-us-con .icon-con {
  background-color: var(--codeFive);
}

.text-center {
  text-align: center;
}

.why-choose-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  padding-top: 20px;
}

.why-choose-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 20px;
  padding: 40px 15px 15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.213);
  text-align: center;
}

.why-choose-card h3 {
  color: var(--codeFive);
  font-weight: 700;
}

.whyicon {
  position: absolute;
  top: -15%;
  left: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--codeFive);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.109);
}

.whyicon img {
  width: 30px;
  height: 30px;
}

.join-us-con {
  border-radius: 16px;
  background-color: var(--codeFive);
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.join-us-con h3,
.join-us-con p {
  color: white;
  line-height: 20px;
}

.join-us-con img {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  mix-blend-mode: color-burn;
  pointer-events: none;
}

.join-us-con p {
  margin-top: 15px;
  color: rgb(255, 255, 255);
}

.our-values-ul li {
  margin-top: 10px;
}

.our-values-ul li p span {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
  text-wrap: nowrap;
  font-weight: 600;
  color: var(--codeFive);
  margin-bottom: 8px;
}

.our-values-ul li p h3 {
  color: var(--codeFive);
}

/* product detail page  */
.proDetext {
  color: gray;
  line-height: 24px;
}

.pdCont {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.pdContDetail {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* image slider pd */
.pdContImg {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.slider-containerpd {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-imagepd {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  opacity: 0;
  transition: var(--trans);
}

.arrows .MuiSvgIcon-root {
  width: 40px;
  height: 40px;
  color: var(--codeTwo);
  cursor: pointer;
  transition: var(--trans);
  filter: drop-shadow(2px 2px 2px var(--codeFour));
}

.arrows .MuiSvgIcon-root:hover {
  color: var(--codeOne);
}

.dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 7px;
  justify-content: center;
  opacity: 0;
  transition: var(--trans);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--codeTwo);
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px var(--codeFour));
  transition: var(--trans);
}

.dot.active {
  background: var(--codeOne);
}

.slider-containerpd:hover .arrows {
  opacity: 1;
}

.slider-containerpd:hover .dots {
  opacity: 1;
}

.smallImages {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smolImg {
  width: 60px;
  height: 60px;
  object-fit: fill;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px var(--codeOne));
  transition: var(--trans);
}

.smolImg.active {
  filter: drop-shadow(2px 2px 2px var(--codeFour));
  transform: scale(1.1);
}

.starContTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

.starContTwo .textBig {
  font-size: 20px;
  line-height: 0px;
}

.starTwo .MuiSvgIcon-root {
  width: 26px;
  height: 26px;
  color: gold;
}

.dullStarTwo .MuiSvgIcon-root {
  width: 26px;
  height: 26px;
  color: var(--codeThree);
}

.starContThree {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

.starThree .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: gold;
}

.dullStarThree .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeThree);
}

.starContFour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
}

.starFour .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: gold;
  cursor: pointer;
}

.dullStarFour .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeThree);
  cursor: pointer;
}

.starContFive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

.starFive .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: gold;
  cursor: pointer;
}

.dullStarFive .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeThree);
  cursor: pointer;
}

.product-priceTwo {
  font-size: 23px;
  color: var(--codeFive);
}

.product-discounTwo {
  text-decoration: line-through;
  font-size: 17px;
  color: var(--codeThree);
}

.discount-iconTwo {
  padding: 3px 10px;
  border-radius: 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff7979;
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.product-priceThree {
  font-size: 20px;
  color: var(--codeFive);
  white-space: nowrap;
}

.product-discounThree {
  text-decoration: line-through;
  font-size: 14px;
  color: var(--codeThree);
  white-space: nowrap;
}

.discount-iconThree {
  padding: 3px 8px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--codeFive);
  font-size: 12px;
  color: white;
  font-weight: 400;
  white-space: nowrap;
}

.pdFeatureIcons {
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--codeTwo);
  border-radius: var(--brTwo);
}

.pdFeatureIcons div {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdFeatureIcons div img {
  width: 60px;
  height: 60px;
}

.pdFeatureIcons div .text {
  white-space: nowrap;
}

.plusMinusCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--codeFive);
  border-top-left-radius: var(--brOne);
  border-top-right-radius: var(--brOne);
  border-bottom-left-radius: var(--brOne);
  border-bottom-right-radius: var(--brOne);
  gap: 0px;
}

.plusMinusCont div {
  padding: 6px 12px;
  cursor: pointer;
}

.plusMinusCont .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeOne);
}

.plusMinusCont input {
  border: 1px solid var(--codeFive);
  width: 111px;
  text-align: center;
  background-color: var(--codeOne);
}

.payBtn {
  width: 100%;
  max-width: 200px;
  background-color: var(--codeFive);
  border: none;
}

.estimated img {
  width: 24px;
  height: 24px;
}

.estimated .text {
  font-size: 16px;
}

/* product detail ratings */

.ratings {
  width: 100%;
  padding-top: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid var(--codeTwo);
  border-bottom: 1px solid var(--codeTwo);
}

.ratingCont {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ratingBox {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ratingline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.ratingline p {
  width: 20px;
  text-align: left;
  color: var(--codeThree);
  font-size: 14px;
}

.line {
  width: 150px;
  height: 10px;
  background-color: var(--codeTwo);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.yellowline {
  background-color: #FFC107;
  height: 100%;
  position: absolute;
}

/* forms review & question */
.reviewForm,
.questionForm {
  width: 100%;
  max-width: 700px;
  gap: 15px;
  padding: 20px;
  border: 1px solid var(--codeTwo);
  border-radius: var(--brOne);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

/* image uploader  */
.upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  border: 2px dashed var(--codeThree);
  border-radius: var(--brOne);
  color: var(--codeThree);
  font-size: 16px;
}

.preview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.preview-box {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid var(--codeThree);
  border-radius: var(--brOne);
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-icon {
  position: absolute;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2px;
  right: 2px;
  background-color: var(--codeOne);
  border-radius: 50%;
  padding: 2px;
}

.delete-icon .MuiSvgIcon-root {
  color: var(--codeFour);
  width: 18px;
  size: 18px;
  transition: var(--trans);
}

.delete-icon:hover .MuiSvgIcon-root {
  color: red;
}

/* r and q section*/
.randqCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
}

.sortToggle {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--codeTwo);
  border-top: 1px solid var(--codeTwo);
}

.reviewList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.reviewBox {
  width: 100%;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--codeTwo);
  border-top: 1px solid var(--codeTwo);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.reviewprocont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.reviewprocont .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeThree);
}

.reviewImages {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.reviewImages img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--brOne);
}

.questionList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.questionBox {
  width: 100%;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--codeTwo);
  border-top: 1px solid var(--codeTwo);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.questionprocont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.questionprocont .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeThree);
}

.questionList {
  display: none;
}

.questionList.visible {
  display: flex;
}

.questionList.hidden {
  display: none;
}

.reply {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  background-color: #08894642;
  border-radius: var(--brOne);
}

.reply .textBig {
  font-size: 14px;
  font-weight: 600;
}

.reviewListSort,
.reviewList {
  display: none;
}

.reviewListSort.visible,
.reviewList.visible {
  display: flex;
}

.reviewListSort.hidden,
.reviewList.hidden {
  display: none;
}

.reviewListSort {
  width: fit-content;
  color: var(--codeFive);
  border: 1px solid var(--codeFive);
}

.toggleBtn {
  background: var(--codeTwo);
  color: var(--codeFour);
  cursor: pointer;
  transition: var(--trans);
  border: none;
}

.toggleBtn.active {
  background: var(--codeFive);
  color: var(--codeOne);
}

.toggleBtn:not(.active):hover {
  background: var(--codeThree)
}

/* banner grid  */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.gridCat {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.gridCatItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  cursor: pointer;
  background: linear-gradient(145deg, #dadada, #ffffff);
  transition: var(--trans);
}

.gridCatItem:hover {
  box-shadow: 5px 5px 10px #d5d5d5, -5px -5px 10px #ffffff;
}

.gridCatItem img {
  width: 100px;
  height: auto;
  object-fit: contain;
  aspect-ratio: 4/3;
}

/* infinity slider  */
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}

.marquee-cont {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: var(--codeTwo);
}

.marquee-slider {
  min-width: 100%;
  flex-shrink: 0;
  animation-name: slide;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 25s;
}

.marquee-slider p {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0px;
  padding: 20px;
}

.marquee-slider p::before {
  content: ".";
  position: absolute;
  left: -0px;
  font-size: 50px;
  font-weight: 900;
  top: 18.5px;
  transform: translateY(-50%);
}

.marquee-cont:hover .marquee-slider {
  animation-play-state: paused;
}

.bold {
  font-weight: 800;
}

.med {
  font-weight: 600;
}

.lit {
  font-weight: 300;
}

/* pagination */
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination button:disabled {
  background-color: var(--codeTwo);
  color: var(--codeThree);
  border: 1px solid var(--codeThree);
  cursor: not-allowed;
}

.pagination span {
  font-size: 1.2rem;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--codeOne);
  color: var(--codeFour);
}



/* common styling */

.minBox {
  width: 100%;
  gap: 5px;
}

.pageBox5 {
  width: 100%;
  gap: 5px;
}

.pageTwo {
  width: 100%;
  padding: 40px 20px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {

  /* contact us  */


  .footer-nav-item {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .section-con {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1130px) {

  .plusMinusCartCont div {
    padding: 3px 8px;
    cursor: pointer;
  }

  .cartCalc {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    gap: 10px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .gridCat {
    grid-template-columns: repeat(4, 1fr);
  }

  .cartCont {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {

  .verify .MuiSvgIcon-root {
    width: 15px;
    height: 15px;
  }

  .logo {
    width: 40px;
  }

  .pageTwo {
    width: 100%;
    padding: 30px 20px;
    gap: 20px;
  }

  .footer {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 930px) {

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .gridCat {
    grid-template-columns: repeat(3, 1fr);
  }

  .otpBox {
    width: 30px;
  }

  .password span {
    position: absolute;
    right: 10px;
    top: 15%;
  }
}

@media screen and (max-width: 830px) {
  .pdCont {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 800px) {

  input[type="checkbox"]:checked::before {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    left: 3.5px;
    top: -2px;
  }

  select,
  textarea,
  input {
    padding: 5px 10px;
  }

  .plusMinusCont div {
    padding: 2px 12px;
    cursor: pointer;
  }

  button {
    padding: 5px 20px;
  }

  .heading {
    font-size: 20px;
    font-weight: 600;
  }

  .headingSmol {
    font-size: 16px;
    font-weight: 600;
  }

  .textBig {
    font-size: 13px;
    font-weight: 500;
    transition: var(--trans);
  }

  .estimated .text {
    font-size: 14px;
  }

  .proDetext {
    color: gray;
    line-height: 18px;
  }

  .starContTwo .textBig {
    font-size: 16px;
    line-height: 0px;
  }

  .starTwo .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
    color: gold;
  }

  .dullStarTwo .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
    color: var(--codeThree);
  }

  .product-priceTwo {
    font-size: 16px;
    color: var(--codeFive);
  }

  .product-discounTwo {
    text-decoration: line-through;
    font-size: 14px;
    color: var(--codeThree);
  }

  .discount-iconTwo {
    padding: 2px 8px;
    border-radius: 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff7979;
    font-size: 13px;
    color: white;
    font-weight: 400;
  }

  .product-priceThree {
    font-size: 13px;
  }

  .product-discounThree {
    font-size: 12px;
  }

  /* contact us */
  .contact-us-wrapper {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .form-wrapper {
    grid-template-columns: 1fr;
  }

  .form-wrapper form {
    padding: 18px;
  }

  .form-wrapper .contact-flex {
    grid-template-columns: 1fr;
  }

  .footer {
    gap: 10px;
  }

  .subFooter {
    justify-content: space-between;
  }

  .navCont {
    width: fit-content;
  }

  .footerNav {
    display: none;
  }

  .hiddeNav {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    gap: 10px;
  }
}

@media screen and (max-width: 730px) {
  .headFooter {
    gap: 5px;
  }
  .headItem img {
    width: 50px;
  }
  .headDetails {
    gap: 5px;
  }

  .searchCont {
    width: 100%;
    max-width: 300px;
    margin: 0px 20px;
  }

  .youMayAlso {
    display: none;
  }
}

@media screen and (max-width: 670px) {

  .pagination {
    justify-content: center;
    align-items: center;
  }

  .plusMinusCartCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--codeFive);
    border-top-left-radius: var(--brOne);
    border-top-right-radius: var(--brOne);
    border-bottom-left-radius: var(--brOne);
    border-bottom-right-radius: var(--brOne);
    gap: 0px;
  }

  .plusMinusCartCont div {
    padding: 2px 4px;
    cursor: pointer;
  }

  .plusMinusCartCont .MuiSvgIcon-root {
    width: 13px;
    height: 13px;
    color: var(--codeOne);
  }

  .plusMinusCartCont input {
    width: 40px !important;
    padding: 2px 8px;
    border: 1px solid var(--codeFive);
    width: 100%;
    text-align: center;
    background-color: var(--codeOne);
    border-radius: var(--brOne);
  }

  .cartDetail button {
    padding: 2px 7px;
    font-size: 11px;
  }

  .cartDetail {
    width: 100%;
    gap: 4px;
    padding: 0px 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .cartBtnsCont {
    width: 100%;
    min-width: 100px;
    gap: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .cartImg {
    width: 70px;
    height: 70px;
  }

  .cartDetailCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gridCat {
    grid-template-columns: repeat(2, 1fr);
  }

  .ratingCont {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .ratingBox {
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {

  .sortCat {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
  }

  .pdFeatureIcons {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .pdFeatureIcons div img {
    width: 50px;
    height: 50px;
  }

  .why-choose-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    padding-top: 30px;
  }

  /* policy page */
  .bg-gray-shadow {
    box-shadow: none;
    padding: 0px;
    background-color: none;
  }

  .inputCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .inputCol {
    width: 100%;
    gap: 5px;
  }

}

@media screen and (max-width: 500px) {

  .why-choose-card-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    padding-top: 30px;
  }

  .faq-header {
    font-size: 14px;
    padding: 14px;
  }

  /* otp page */
  .otp-input {
    width: 40px;
  }

  /* auth page */
  .authBox {
    padding: 25px;
  }

  .subFooterTwo {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }

  .footerLogos img {
    width: 30px;
    height: auto;
    aspect-ratio: 4 / 2.5;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px var(--codeFour));
  }

  .footerSupport {
    gap: 2px;
  }

  .subFooter img {
    width: 120px;
    height: auto;
  }

  .header {
    padding: 10px 20px;
    border-bottom: var(--border);
  }

  .header-burger {
    display: flex;
  }

  .catHeader,
  .searchCont {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .cartPriceBox {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gridCat {
    grid-template-columns: repeat(1, 1fr);
  }
}