@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font: "Inter", sans-serif;
  --fontStyle: normal;
  --inFont: 12px;

  --codeOne: #ffffff;
  --codeTwo: #ebebeb;
  --codeThree: #878787;
  --codeFour: #000000;
  --codeFive: #3084d1;

  --trans: all 0.4s ease-in-out;
  --brOne: 3px;
  --brTwo: 10px;
  --brThree: 25px;

  --border: 1px solid var(--codeTwo);
}

* {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  font-family: var(--font);
  font-size: var(--inFont);
  font-style: var(--fontStyle);
  text-transform: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
}

body {
  background: var(--codeOne);
}

a {
  cursor: pointer;
  color: var(--codeFour);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--codeFour);
}

select,
textarea,
input {
  padding: 10px;
  border-radius: var(--brOne);
  width: 100%;
  border: 1px solid var(--codeFour);
  color: var(--codeFour);
  background: transparent;
}

select,
textarea,
input::placeholder {
  color: var(--codeThree);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type="checkbox"] {
  appearance: none;
  /* For modern browsers */
  -webkit-appearance: none;
  /* For Safari */
  -moz-appearance: none;
  /* For Firefox */
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: black;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  color: white;
  font-size: 14px;
  position: absolute;
  left: 3.5px;
  top: 0px;
}

select::-webkit-scrollbar {
  width: 15px;
}

select::-webkit-scrollbar-thumb {
  background-color: var(--codeThree);
  border-radius: var(--brTwo);
}

button {
  width: fit-content;
  cursor: pointer;
  transition: var(--trans);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--brOne);
  background: var(--codeFour);
  color: var(--codeOne);
  border: 1px solid var(--codeFour);
  padding: 10px 30px;
}

select,
textarea,
input,
button:focus {
  outline: none;
}



/* ////////////// General styling ////////////// */

.wh {
  width: 100%;
}

.relative {
  position: relative;
}

/* gaps */

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.g20 {
  gap: 20px;
}

/* flex */

.flex {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.start {
  align-items: start;
  justify-content: start;
}

.end {
  align-items: end;
  justify-content: end;
}

.center-start {
  align-items: center;
  justify-content: start;
}

.start-center {
  align-items: start;
  justify-content: center;
}

.end-start {
  align-items: end;
  justify-content: start;
}

.start-end {
  align-items: start;
  justify-content: end;
}

.center-end {
  align-items: center;
  justify-content: end;
}

.end-center {
  align-items: end;
  justify-content: center;
}

.center-space {
  align-items: center;
  justify-content: space-between;
}

/* outlines */

.outline1 {
  outline: 1px solid blue;
}

.outline2 {
  outline: 1px solid limegreen;
}

.outline3 {
  outline: 1px solid orange;
}

/* fonts */

.heading {
  font-size: 26px;
  font-weight: 800;
}

.headingSmol {
  font-size: 18px;
  font-weight: 600;
}

.textBig {
  font-size: 14px;
  font-weight: 400;
  transition: var(--trans);
}

.text {
  font-size: 12px;
  font-weight: 400;
}

.textSmol {
  font-size: 10px;
  font-weight: 400;
}

.error {
  font-size: 10px;
  font-weight: 400;
  color: red;
  width: 100%;
  padding: 0px 10px;
}

.failed {
  filter: drop-shadow(5px 5px 3px rgb(255, 166, 166));
  color: rgb(255, 0, 0);
}

.success {
  filter: drop-shadow(5px 5px 3px rgb(167, 255, 167));
  color: rgb(0, 189, 0);
}

.hover {
  color: var(--codeFive);
  opacity: 1;
  transition: var(--trans);
}
.hover:hover {
  opacity: 0.7;
}

/* login & signup & otp & forgot password & profile */

.authBox {
  width: 100%;
  max-width: 500px;
  gap: 15px;
  padding: 20px;
  border: var(--border);
  border-radius: var(--brThree);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 13px #d4d4d4, -5px -5px 13px #ffffff;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.otpBox {
  width: 50px;
}

.password span {
  position: absolute;
  right: 10px;
  top: 25%;
}

.password span .MuiSvgIcon-root {
  color: var(--codeThree);
  cursor: pointer;
}


/* Header component */
.scrollToTop {
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 3;
  transition: var(--trans);
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 3;
  transition: var(--trans);
}

.whatsapp:hover, .scrollToTop:hover {
  transform: scale(1.1);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 150px;
}

.catHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 150px;
  gap: 10px;
  background-color: var(--codeOne);
  border-top: var(--border);
  border-bottom: var(--border);
  position: sticky;
  top: -1px;
  z-index: 2;
}

.catItem {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 0px 20px;
  cursor: pointer;
  transition: var(--trans);
}

.catItem:hover {
  color: var(--codeFive);
}

.cartItem:hover .textBig {
  color: var(--codeFive);
}

.searchCont {
  position: relative;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContTwo {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchCont .MuiSvgIcon-root {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: var(--codeThree);
  transition: var(--trans);
}

.searchContTwo .MuiSvgIcon-root {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: var(--codeThree);
  transition: var(--trans);
}

.searchCont input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: var(--codeTwo);
  border-radius: var(--brThree);
  transition: var(--trans);
}

.searchContTwo input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: var(--codeTwo);
  border-radius: var(--brThree);
  transition: var(--trans);
}

.header-burger {
  display: none;
}

.header-burger .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeFive);
}

.logo {
  width: 60px;
  object-fit: contain;
  aspect-ratio: 4/3;
  cursor: pointer;
}

.nav-mobile {
  gap: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-mobile .textBig {
  color: var(--codeThree);
  cursor: pointer;
  transition: var(--trans);
  white-space: nowrap;
}

.nav-mobile .textBig:hover {
  color: var(--codeFive);
}

.nav-mobile .MuiSvgIcon-root {
  width: 25px;
  height: 25px;
  color: var(--codeThree);
  transition: var(--trans);
  cursor: pointer;
}

.nav-mobile .MuiSvgIcon-root:hover {
  color: var(--codeFive);
}

.cartIcon {
  padding: 0px 0px 0px 20px;
  position: relative;
}

.cartcount {
  position: absolute;
  top: -8px;
  right: -7px;
  background-color: var(--codeFive);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 10px;
  color: var(--codeOne);
  border-radius: 50%;
}

.hover-div {
  width: 100px;
  background-color: var(--codeOne);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1), -4px 0px 6px -2px rgba(0, 0, 0, 0.1), 4px 0px 6px -2px rgba(0, 0, 0, 0.1);
  color: var(--codeOne);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 15px;
  top: 28px;
  left: 0px;
  opacity: 0;
  transform: translateY(-20px);
  transition: var(--trans);
  pointer-events: none;
  border-radius: var(--brOne);
  z-index: 3;
}

.hover-div.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hover-div a {
  width: 100%;
  padding: 3px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--codeThree);
  transition: var(--trans);
}

.hover-div a:hover {
  color: var(--codeFour);
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  background-color: #1e1e1e;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 5;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: var(--trans);
}

.drawer.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  opacity: 0;
  transition: var(--trans);
  visibility: hidden;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.drawer a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  font-weight: 600;
  color: var(--codeOne);
}

.drawer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}


/* footer component */
.footer {
  width: 100%;
  padding: 40px 150px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--codeTwo);
}

.subFooter {
  width: 100%;
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subFooter img {
  width: 100px;
  object-fit: contain;
  aspect-ratio: 4/3;
  height: auto;
}

.footerNav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.hiddeNav {
  display: none;
}

.footerNav .text,
.hiddeNav .text {
  cursor: pointer;
  transition: var(--trans);
}

.footerNav .text:hover {
  color: var(--codeFive);
}

.hiddeNav .text:hover {
  color: var(--codeFive);
}

.footerSupport {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 10px;
}

.subFooterTwo {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footerLogos {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.footerLogos img {
  width: 40px;
  height: auto;
  aspect-ratio: 4 / 2.5;
  object-fit: contain;
  filter: drop-shadow(2px 2px 2px var(--codeFour));
}

.footerline {
  width: 100%;
  height: 1px;
  background-color: var(--codeThree);
}



/* home page  */
.homeimg {
  width: 100%;
  height: 550px;
  object-fit: cover;
  z-index: -1;
  margin-bottom: -300px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

.productfake {
  flex: 1 1 calc(33.33% - 14px);
  max-width: calc(33.33% - 14px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--trans);
}

.productfake:hover {
  transform: scale(1.03);
}

.productfake img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.home_line {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

.more {
  flex: 1;
  height: 80px;
}

.more img {
  width: 100%;
}

.best {
  width: 250px;
  height: 80px;
  padding: 0px 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--codeFive);
}

.best .heading {
  font-size: 20px;
  color: var(--codeOne);
}


/* two grids */
.TwoGrids {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.gridCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
  gap: 15px;
  background-color: var(--codeFive);
}

.gridCont .heading {
  color: var(--codeOne);
}

.viewBtn {
  width: fit-content;
  padding: 8px 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--codeOne);
  border-radius: var(--brThree);
}

.atag,
.btag {
  color: var(--codeThree);
  transition: var(--trans);
}

.atag:hover {
  color: var(--codeFive);
}

.btag:hover {
  color: var(--codeFive);
}

.gridTwo,
.gridOne {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  padding: 10px;
  gap: 10px;
  background-color: var(--codeOne);
}

/* featured products & newsletter  */
.featureProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 150px;
  background-color: var(--codeTwo);
}

.fpGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  padding: 10px;
  gap: 10px;
}

.features {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 150px;
  gap: 20px;
  background-color: var(--codeTwo);
}

.features article {
  flex: 1;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  transition: var(--trans);
}

.features article:hover {
  transform: scale(1.02);
}

.features img {
  width: 70px;
  object-fit: contain;
  aspect-ratio: 4/3;
}

.fdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}



/* product card  */

.gridItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: var(--trans);
}

.gridItem:hover {
  transform: scale(1.02);
  box-shadow: 2px 1px 2px var(--codeThree);
}

.subGridItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}

.gridItem img {
  width: 100%;
  object-fit: fill;
  aspect-ratio: 4/3.5;
}

.subGridItem button {
  padding: 5px;
  width: 100%;
  gap: 2px;
  font-size: 10px;
  background-color: var(--codeTwo);
  color: var(--codeThree);
  border: none;
  justify-content: flex-start;
}

.subGridItem button:hover {
  background-color: var(--codeFive);
  color: var(--codeOne);
  justify-content: center;
}

.subGridItem button .MuiSvgIcon-root {
  width: 15px;
  height: 15px;
}



/* common styling */

.minBox {
  width: 100%;
  gap: 5px;
}

.subPage {
  width: 100%;
  padding: 0px 150px;
}

.page {
  width: 100%;
  padding: 0px 0px 30px 0px;
  gap: 30px;
}

.pageTwo {
  width: 100%;
  padding: 40px 150px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageCont {
  width: 100%;
  padding: 0px 150px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@media screen and (max-width: 1000px) {

  .hover-div {
    top: 28px;
    left: -50px;
  }

  .header,
  .features,
  .featureProducts {
    padding: 15px 20px;
  }

  .logo {
    width: 40px;
  }

  .pageTwo {
    width: 100%;
    padding: 10px 20px;
    gap: 20px;
  }

  .subPage {
    padding: 0px 20px;
  }

  .catHeader {
    padding: 10px 20px;
  }

  .pageCont {
    padding: 0px 20px;
  }

  .page {
    padding: 0px 0px 20px 0px;
    gap: 20px;
  }

  .footer {
    padding: 30px 20px;
  }

  .homeimg {
    margin-bottom: -200px;
  }
}

@media screen and (max-width: 930px) {
  .otpBox {
    width: 30px;
  }

  .password span {
    position: absolute;
    right: 10px;
    top: 15%;
  }
}

@media screen and (max-width: 800px) {

  /* contact us */
  .form-wrapper {
    grid-template-columns: 1fr;
  }

  .form-wrapper form {
    padding: 18px;
  }

  .form-wrapper .contact-flex {
    grid-template-columns: 1fr;
  }

  .footer {
    gap: 10px;
  }

  .subFooter {
    justify-content: space-between;
  }

  .navCont {
    width: fit-content;
  }

  .footerNav {
    display: none;
  }

  .hiddeNav {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    gap: 10px;
  }
}

@media screen and (max-width: 730px) {
  .TwoGrids {
    flex-direction: column;
  }

  .gridTwo,
  .gridOne {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding: 5px;
    gap: 5px;
    background-color: var(--codeOne);
  }

  .searchCont {
    width: 100%;
    max-width: 300px;
    margin: 0px 20px;
  }

  .home_line {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
  }

  .best {
    width: 250px;
    padding: 10px 20px;
    height: fit-content;
    gap: 5px;
  }

  .best .heading {
    font-size: 17px;
    color: var(--codeOne);
  }

  .productfake {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .home_row {
    gap: 10px;
  }

  .homeimg {
    margin-bottom: -150px;
  }
}

@media screen and (max-width: 600px) {
  .features {
    gap: 5px;
  }

  .productfake {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .homeimg {
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 500px) {


  .faq-header {
    font-size: 14px;
    padding: 14px;
  }

  .heading {
    font-size: 20px;
    font-weight: 800;
  }

  /* otp page */
  .otp-input {
    width: 40px;
  }

  /* auth page */
  .authBox {
    padding: 25px;
  }


  .homeimg {
    margin-bottom: -50px;
  }

  .subFooterTwo {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }

  .footerLogos img {
    width: 30px;
    height: auto;
    aspect-ratio: 4 / 2.5;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px var(--codeFour));
  }

  .footerSupport {
    gap: 2px;
  }

  .subFooter img {
    width: 120px;
    height: auto;
  }

  .header {
    padding: 10px 20px;
    border-bottom: var(--border);
  }

  .header-burger {
    display: flex;
  }

  .catHeader,
  .searchCont {
    display: none;
  }
}